head
	//title My Site - #{siteTitle}
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Bauges Local
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
	link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet')